.person-card {
    width: 400px;
    height: 200px;
    margin: 20px;
    padding: 20px;
    background: #eee;
}

.person-card span.fullname {
    display: block;
    margin-left: 3px;
    margin-bottom: 10px;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
}

button {
	margin-left: 20px;
	padding: 13px;
	border: 0;
	cursor: pointer;
	color: white;
	background: #ff0000;	
}
button:hover {
	background: #e60000;
}

a {
	color: green;
	text-decoration: none;
}
a.social {
	margin-left: 40px;
}